
.view-wrap{
    padding: 70px 0;
   text-align: center;
}


/*头部*/
.top {
    height: 540px;
    background: url(./img/price_banner_1.jpg) center center no-repeat;
}
.price .price-btn {
   margin-left: 158px;
   margin-top: 240px;
}
.buy-btn {
    width: 130px;
    height: 40px;
    line-height: 40px;
    background-color: #f47469;
    color: #FFF;
    font-size: 14px;
    text-decoration: none
}
.buy-btn:hover{
     color: #FFF;
     text-decoration: none
}
/*搜索*/
.price .buy-form-wrap {
    width: 560px;
    margin: 0 auto;
    text-align: left;
}
.price .buy-form-wrap .buy-input-form {
    width: 558px;
    border: 1px solid #e1e1e1;
    height: 52px;
    float: left;
    background: #FFF;
    font-size: 14px;
}
.buy-form-wrap .buy-input {
    border: 0;
    color: #555;
    font-size: 14px;
    height: 32px;
    width: 438px;
    padding: 10px;
    line-height: 32px;
    float: left;
    outline: 0;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.price .buy-form-wrap .ui-btn-lite-gray {
    width: 100px;
    height: 52px;
    display: block;
    border: 0;
    line-height: 53px;
    float: left;
    cursor: pointer;
    font-size: 16px;
    background-color: #DDD;
}
.price .buy-confirm {
    width: 560px;
    line-height: 34px;
    font-size: 14px;
    color: #555;
}
.buy-confirm .buy-confirm-money {
    color: #f97252;
    font-weight: 700;
}
.lite-gray {
    color: #999;
}
.buy-confirm .buy-confirm-avmoney {
    color: #555;
    font-style: normal;
}

/*明细*/
.buy-version-compare-wrap {
    width: 900px;
    margin: 0 auto;
}
.buy-version-compare-wrap .buy-version-compare-title {
   height: 36px;
}
.buy-version-compare-wrap .buy-version-compare-btn {
    line-height: 36px;
    float: right;
    width: 120px;
    background-color: #f5f5f5;
    text-align: center;
    color: #555;
    text-decoration: none;
    cursor: pointer;
}
.buy-version-compare-wrap .buy-version-compare-content dl {
    width: 899px;
    border-left: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    margin-top: 20px;
    overflow: hidden;
}

.buy-version-compare-wrap .buy-version-compare-content dl dt span {
    display: inline-block;
    height: 47px;
    line-height: 47px;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    text-align: center;
    background: #fafafa;
    font-size: 16px;
}
.buy-version-compare-wrap .buy-version-compare-content dl dt span.span1 {
    width: 898px;
}
.buy-version-compare-wrap .buy-version-compare-content dl dd {
     overflow: hidden;
}
.buy-version-compare-wrap .buy-version-compare-content dl dd p {
  float: left;
}
.buy-version-compare-wrap .buy-version-compare-content dl dd span {
    display: block;
    height: 47px;
    line-height: 47px;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    text-align: center;
}
.buy-version-compare-wrap .buy-version-compare-content dl dd span.span1 {
width: 130px;
text-align: center;
color: #555;
font-size: 18px;
}
.buy-version-compare-wrap .buy-version-compare-content dl dd span.span2 {
    width: 555px;
    padding-left: 40px;
    text-align: left;
    color: #888;
    font-size: 14px;
}
.buy-version-compare-wrap .buy-version-compare-content dl dd span.span3 {
    width: 170px;
    text-align: center;
}
.buy-version-compare-wrap .buy-version-compare-content dl dd span.span3 em {
    width: 20px;
    height: 0;
    padding-top: 40px;
    overflow: hidden;
    display: block;
    background: url(./img/icon.png) -180px -745px no-repeat;
    margin: 0 auto;
    }
/*收起*/
.buy-version-compare-wrap .buy-version-compare-title {
    height: 36px;
}
.buy-version-compare-wrap .buy-version-compare-btn {
    line-height: 36px;
    float: right;
    width: 120px;
    background-color: #f5f5f5;
    text-align: center;
    color: #555;
    text-decoration: none;
    cursor: pointer;
}
/*收起*/
/*文字样式*/
.buy-remark {
    font-size: 14px;
    width: 900px;
    margin: 0 auto;
    color: #555;
    padding: 40px 0 100px;
    line-height: 25px;
    font-family: "宋体",simsun;
}
.buy-remark table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}
.buy-remark table td {
    line-height: 20px;
    border: 1px solid #ebebeb;
    padding: 10px;
}

.buy-remark table td.td1 {
    background-color: #fafafa;
    text-align: right;
    font-weight: 700;
    width: 80px;
    color: #888;
}