
/*头部轮播*/

.top .slider {
    height: 740px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.top .lb1 {
  background: url(./img/index_banner_1.jpg) center center no-repeat;
}
.lb1 .header-wrap .header-tip1 {
    height: 0;
    width: 560px;
    padding-top: 80px;
    overflow: hidden;
    background: url(../global/img/icon.png) 0 -120px no-repeat;
    margin: 0 auto;
    margin-top: 206px;
}
.lb1 .header-wrap .header-tip2 {
    height: 0;
    width: 240px;
    padding-top: 24px;
    overflow: hidden;
    background: url(../global/img/icon.png) 0 -200px no-repeat;
    margin: 0 auto;
    margin-top: 17px;
}
.header-wrap .header-btns {
    width: 160px;
    height: 60px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 60px;
}
.ui-btn-UE {
    color: #009aab;
    background-color: #FFF;
    border-radius: 2px;
    font-size: 19px;
    display: inline-block;
    width: 160px;
    height: 46px;
    text-align: center;
    line-height: 46px;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,0,.2);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,0,.2);
    float: left;
    letter-spacing: 1px;
}
.ui-btn-UE:hover {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,0,.8);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,0,.8);
     color: #009aab;
    text-decoration: none
}
.header-wrap .header-tip3 {
    height: 0;
    width: 262px;
    padding-top: 30px;
    overflow: hidden;
    background: url(../global/img/icon.png) 0 -238px no-repeat;
    margin: 0 auto;
    margin-top: 119px;
}
.top .lb2 {
   background: url(./img/index_banner_4.jpg) center center no-repeat;
}
.lb2 .header-wrap .header-tip1 {
    height: 0;
    width: 300px;
    padding-top: 40px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 220px;
}
.lb2 .header-wrap .header-tip2 {
    height: 0;
    width: 640px;
    padding-top: 50px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 17px;
}
.top .lb3 {
  background: url(./img/index_banner_3.jpg) center center no-repeat;
}
.lb3 .header-wrap .header-tip1 {
    height: 0;
    width: 730px;
    padding-top: 50px;
    overflow: hidden;
    background: url(../global/img/icon.png) 0 -1240px no-repeat;
    margin: 0 auto;
    margin-top: 230px;
}
.lb3 .header-wrap .header-tip2 {
    height: 0;
    width: 460px;
    padding-top: 30px;
    overflow: hidden;
    background: url(../global/img/icon.png) 0 -1320px no-repeat;
    margin: 0 auto;
    margin-top: 17px;
}
.top .lbnum {
    height: 12px;
    position: relative;
    top: 605px;
    width: 1000px;
    text-align: center;
    margin: 0 auto;
    z-index: 2;
}
.top .lbnum a {
    width: 12px;
    height: 0;
    padding-top: 12px;
    overflow: hidden;
    background: url(../global/img/icon.png) 0 -1080px no-repeat;
    display: inline-block;
    margin: 0 5px;
}
.top .lbnum a.current {
    color: #FFF;
    background-position: -20px -1080px;
}





.feature-box{padding:60px 0;}
.feature-wrap dl {
    width: 33.3%;
    float: left;
}
.feature-wrap dt a {
    display: block;
    height: 0;
    padding-top: 120px;
    overflow: hidden;
    transition-duration: .2s;
}
.feature-wrap dt.ico {
    width: 120px;
    height: 120px;
    margin: 0 auto;
}
.feature-wrap dd.title {
    margin-top: 30px;
    text-align: center;
}
.feature-wrap dd.title a{
    color: #555;
    font-size: 22px;
    text-align: center;
    margin-top: 30px;
}
.feature-wrap dd.info {
    font-size: 14px;
    color: #888;
    text-align: center;
    margin-top: 10px;
    line-height: 25px;
    font-family: "宋体",simsun;
}
.feature-wrap .dl1 dt.ico a {
    background: url(../global/img/icon.png) 0 -320px;
}
.feature-wrap dd.title a {
    color: #555;
    font-size: 22px;
    text-align: center;
    margin-top: 30px;
    text-decoration: none
}
.feature-wrap dd.info {
    font-size: 14px;
    color: #888;
    text-align: center;
    margin-top: 10px;
    line-height: 25px;
    font-family: "宋体",simsun;
}
.feature-wrap .dl2 dt.ico a {
    background: url(../global/img/icon.png) 0 -840px;
}

.feature-wrap .dl3 dt.ico a {
    background: url(../global/img/icon.png) 0 -960px;
}
.feature-wrap .dl1 dt.ico a:hover {
    background: url(../global/img/icon.png) -120px -320px;
}
.feature-wrap .dl2 dt.ico a:hover {
   background: url(../global/img/icon.png) -120px -840px;
}
.feature-wrap .dl3 dt.ico a {
   background: url(../global/img/icon.png) 0 -960px;
}
.feature-wrap .dl3 dt.ico a:hover {
  background: url(../global/img/icon.png) -120px -960px;
}

.frend{
    background-color: #ddecda;
    padding-bottom: 10px
}
.frend .view-wrap {
   width: 1000px;
   padding:75px 0;
}
.frend-wrap dl {
    width: 33.3%;
    float: left;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
}
.frend-wrap dl {
  margin-top: 60px;
}
.frend-wrap dl:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
}
.frend-wrap dt.ico {
    width: 280px;
    margin: 0 auto;
    display: block;
    height: 0;
    padding-top: 80px;
    overflow: hidden;
}
.frend-wrap .dl1 dt.ico {
   background: url(../global/img/icon.png) 0 -440px;
}
.frend-wrap dd.info {
    text-align: center;
    margin-top: 20px;
    line-height: 24px;
    color: #888;
    font-size: 14px;
    font-family: "宋体",simsun;
}
.frend-wrap .dl2 dt.ico {
   background: url(../global/img/icon.png) 0 -520px;
}
.frend-wrap .dl3 dt.ico {
   background: url(../global/img/icon.png) 0 -600px;
}




.case {
    height: 690px;
    padding: 40px 0;
    background: url(./img/case.jpg) center center no-repeat;
}

.media-info {
   background: #fafafa;
}
.media-info .view-wrap{
    padding:60px 0 10px 0;
}

.media-info .sub-h3 {
    height: 30px;
    width: 160px;
    margin: 0 auto;
    background: url(../global/img/icon.png) -280px -320px no-repeat;
    margin-top: 10px;
}
.media-info .dl-wrap {
    width: 286px;
    height: 224px;
    float: left;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: #03b8cc;
    padding: 2px;
    margin: 24px 5px 0;
}
.media-info .dl-wrap .dl-inner-wrap {
    background: #FFF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    height: 100%;
    -webkit-transition-duration: .8s;
    -moz-transition-duration: .8s;
    transition-duration: .8s;
}
.media-info dt {
    font-size: 18px;
    color: #555;
    text-align: left;
    padding: 10px 20px 0;
}
.media-info .view-wrap p {
    margin-top: 5px;
    text-align: left;
    color: #888;
    font-size: 14px;
    padding: 0 20px;
}
.media-info .view-wrap p.date {
    color: #555;
    font-size: 12px;
}
.media-info .dl-wrap .dl-inner-wrap a{
  text-decoration: none
}
.media-info .dl-wrap .dl-inner-wrap:hover dt,.media-info .dl-wrap .dl-inner-wrap:hover p{
    color:#fff;
    text-decoration: none
}
.media-info .dl-wrap .dl-inner-wrap:hover {
  background: #03b8cc;
  text-decoration: none;
}
.media-info .more-media {
    text-align: right;
    width: 900px;
    margin: 0 auto;
    padding-bottom: 25px;
}
.media-info .more-media a {
  color: #555;
  line-height: 40px
}
/*新增列表*/
.order-search{
    background-color: #2c3e50;
    height:104px;
}
.order-search .view-wrap{
    position: relative;
    z-index: 30;
    height:104px;
}
.order-search .search-title{
    width: 160px;
    padding-left: 5px;
    height: 64px;    
    overflow: hidden;
    position: absolute;
    left: 0;
    top:30px;
}
.order-search .search-line{
    width: 9px;  
    height: 104px;
    background: url('./img/note.png') no-repeat right center;
    overflow: hidden;
    position: absolute;
    left: 160px;
    top:0;
}
.order-search .search-title p{
    font-size: 16px;
    color: #fff;
    line-height: 28px;
    margin-top: 0;
    text-align: left
}
.order-search .search-title p span{
    color: #9fb0c0;
}
.order-search .search-num{
    width: 150px;
    text-align: left;
    font-size: 14px;
    color: #9fb0c0;
    line-height: 47px;
    position: absolute;
    left: 188px;
    top:35px;
}
.order-search .search-input{
    width: 468px;
    position: absolute;
    top:35px;
    left:315px;
}
.order-search .search-input input{
    display: inline-block;
    width: 216px;
    height:40px;
    padding: 3px 6px;
    font-size:12px;
    line-height: 40px;
    color:#666;
    border-radius: 5px;
    border:0;
    background: #fff;
}
#search-btn{
    width: 104px;
    height: 47px;
    line-height: 47px;
    background-image: url('./img/input13.png');
    position: absolute;
    right:0;
    top:34px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
}
.order-box .order-title{
    font-size: 30px;
    color: #333;
    margin-top: 53px;
    margin-bottom: 35px;
    text-align: center;
}
.order-box .order-list{
    margin-bottom: 30px;
}
.order-nav{
    text-align: right;
    overflow: hidden;
    float: right;
}

.order-nav li{
    width: 200px;
    height: 40px;
    text-align: center;
    margin-right: 1px;
    float: left;
    position: relative;
    color: #fff;
    line-height: 40px;
}
.order-nav li.pt-1{
   background-color: #66cbfe;
}
.order-nav li.pt-2{
   background-color: #3398cb;
}
.order-nav li.pt-3{
   background-color: #304557;
   margin-right: 0;
}
.order-nav .p_vip {
    font-size: 16px;
    font-style: normal;
}
.order-nav .p_vip:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 0 22px;
    border-color: #fff transparent transparent;
}
.order-box .order-list th{
    color: #f6f6f6;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    height:40px;
    border-right:1px solid #fff;
}
.order-box .order-list-1 th{
    background-color: #ff6157;
}
.order-box .order-list td{
    color: #666;
    line-height: 40px;
    text-align: center;
    border-right:1px solid #fff;
    background-color: #f2f2f2;
}

.order-box .order-list tr.even td{
  background-color: #e0e0e0;
}
.order-box .order-list-1 .p1{
  width: 200px;
}
.order-box .order-list-1 .p2{
  width: 300px;
}
.order-box .order-list-1 .p3{
    border-right:0;
    width: 301px;
}
.order-box .order-list-2 th{
  background-color: #999;
}
.order-box .order-list-2 td.p1{
    width: 224px;
}
.order-box .order-list-2 td.p4{
  width: 199px;
}
.order-box .order-list-2 td .p_size1{
    display: block;
    color: #666;
    height: 40px;
    line-height: 40px;
    font-weight: 400;
}
.order-box .order-list-2 td .p_size1 .p_Pointer{
    margin-left: 5px;
    position: relative;
    top: 2px;
    font-size: 12px;
    width: 15px;
    height: 15px;
    display: inline-block;
    background: url(./img/wh.png) center center no-repeat;
}
.order-box .order-list-2 tr.bottom td{
    background-color: #999;
    color: #fff;
}
.p-remark{
    font-size: 12px;
    color: #000;
    text-align: right;
    margin-top: 5px;
}
.p-remark a {
  color: red;
}