body.login{
    background-color:#f2f2f2;
}
.register_wrap {
  position: relative;

  background: url(./img/banner1.jpg) no-repeat;
  font-family: 'Microsoft Yahei',Tahoma,Arial;
  outline: none;
  min-height: 900px;
  background-size: 100% 100%;
  background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  transition: background .5s ease-in;
  height:1053px;
}
.register_wrap a{
  color:#555;
  text-decoration: none;
}
.register_wrap a:hover{
   text-decoration: underline;
   color:#333;
}
.register_wrap a.login-btn:hover{
  text-decoration: none;
  color:#fff;
}
.register_wrap  .banner-wrap{
  position: relative;
  width: 1000px;
  margin: 0 auto;
}
.banner-wrap .rb1 {
  font-size: 36px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  padding-top: 45px;
}
.banner-wrap .rb2 {
  font-size: 14px;
  color: #fff;
  line-height: 25px;
  text-align: center;
  padding-top: 15px;
}
.banner-wrap .re_box_bg {
  position: absolute;
  width: 400px;
  height: 434px;
  top: 153px;
  left: 300px;
  background: #fff;
  opacity: 0.6;
  filter:alpha(opacity=60)
}
.banner-wrap .re-box{
  position: absolute;
  width: 400px;
  height: 434px;
  margin: 0 auto;
  top: 153px;
  left: 300px;
}
.banner-wrap .control-box{
  padding: 40px;
}
.banner-wrap .control-box .control-group {
   margin-bottom: 10px;
}
.banner-wrap .control-box .control-group .control-input{
  position: relative;
  line-height: 40px;
}
.banner-wrap .ui-input {
  width: 318px;
  padding: 10px;
  border: 1px solid #d6dee3;
  font-size: 14px;
}
.banner-wrap .control-box .control-group .control-input label.placeholder {
  cursor: text
}
.ui-input:hover {
  border: 1px solid #a8b3b9;
  transition: 0.7s;
}
.ui-input:focus{transition:0.9s; box-shadow: 0 0 2px #0591aa}
.banner-wrap .control-box .control-group .control-input .ui-input {
  width: 298px;
  height:20px;
}

.label-tip-info {
  width: 15px;
  height: 16px;
}
.banner-wrap .control-box .control-group .control-input  .label-tip {
  width: 15px;
  height: 16px;
  position: absolute;
  right: -25px;
  top: 12px;
  display: none;
}
.banner-wrap .control-box .control-group .control-input .label-tip-info {
  background: url("./img/portal-icon-2.png") -120px -40px no-repeat;
}
.banner-wrap .control-box .control-group .control-input .ui-input.inp-verfCode {
  width: 240px;
}
.banner-wrap .control-box .control-group .control-input .auth-image {
  position: absolute;
  top: 1px;
  left: 171px;
}
.banner-wrap .control-box .control-group .control-input .refresh-auth {
  text-decoration: none;
  float: right;
  font-size: 14px;
  line-height: 40px;
  display: block;
  position: absolute;
  right:0;
  top:0;
}
.banner-wrap .control-box .control-group .control-input a:hover {
 text-decoration: underline;
 color: #333;
}
.banner-wrap .control-box .control-group .control-input .check-rule input {
  float: left;
  margin-top: 13px;
  margin-right: 5px;
}

.banner-wrap .control-box .control-group .control-input .btn-register {
  width: 160px;
  height: 42px;
  line-height: 42px;
  color: #fff;
  background-color: #03b8cc;
  margin-bottom: 0;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  background-image: none;
  border-radius: 2px;
  border: 0;
  padding: 0 5px;
  min-width: 90px;
  display: inline-block;
}
.banner-wrap .control-box .control-group .control-input .btn-register:hover,.banner-wrap .control-box .control-group .control-input .btn-register:focus{
 -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  transition: .7s;
  color: #fff;
  background-color: #4bafbe;
  transition: 0.7s;
}
.banner-wrap .control-box .control-group .control-input .label-login {
 margin-left: 22px;
}


/*ff*/
.qtip {
position: absolute;
left: -28000px;
top: -28000px;
display: none;
min-width: 50px;
font-size: 10.5px;
line-height: 12px;
direction: ltr;
box-shadow: none;
padding: 0;
}
.qtip-default {
border-width: 2px;
border-style: solid;
border-color: #edd28b;
background-color: #fffef9;
color: #555;
}
.qtip-error {
background-color: #f97252;
border-color: #f97252;
color: #fff;
}
.qtip .qtip-tip, .qtip .qtip-tip .qtip-vml, .qtip .qtip-tip canvas {
position: absolute;
color: #123456;
background: transparent;
border: 0 dashed transparent;
}
.qtip .qtip-tip {
margin: 0 auto;
overflow: hidden;
z-index: 10;
}
.qtip .qtip-tip canvas {
top: 0;
left: 0;
}
.qtip .qtip-tip, .qtip .qtip-tip .qtip-vml, .qtip .qtip-tip canvas {
position: absolute;
color: #123456;
background: transparent;
border: 0 dashed transparent;
}
.qtip-content {
position: relative;
padding: 5px 9px;
text-align: left;
word-wrap: break-word;
padding: 10px;
overflow: hidden;
line-height: 25px;
}
.qtip-content {
padding: 7px 16px;
}
.qtip:not(.ie9haxors) div.qtip-content, .qtip:not(.ie9haxors) div.qtip-titlebar {
filter: none;
-ms-filter: none;
}

/*定位样式*/
.banner-wrap .control-box .control-group .control-input  .label-tip-error{
  background-position: -80px -40px;
}
.label_text_wrap{
  position: absolute;
  left:375px;
  top:0;
  color: #fff;
  font-size: 10.5px;
  line-height: 40px;
  direction: ltr;
  box-shadow: none;
  padding: 0;
  height:40px;
  background-color:transparent;
  width: 240px;
  text-align: left;
  opacity: 0;
  filter:alpha(opacity=0);
  z-index: 50
}
.label_text_wrap .arrow{
  position: absolute;
  left: -12px;
  top: 14px;
  border-top: 6px solid transparent;
  border-right: 12px solid #0591aa;
  border-bottom: 6px solid transparent;
  display: block;
  *display: none;
  z-index: 30
}
.label_text_wrap .l_error{
  display: inline-block;
  background-color: #0591aa;
  padding: 0 16px;
  box-shadow: 0 0 2px #0591aa
}

.verfycode .label_text_wrap .arrow{
  border-right-color: rgb(249, 114, 82);
}
.verfycode .label_text_wrap .l_error{
  background-color: rgb(249, 114, 82);
}



/* 注册 邮件验证成功 */

.r-success-wrap{
width: 100%;
 padding: 20px 0;
text-align: center;
background-color: #f0f0f0;
}
.r-success-wrap .r-success{
  background: #fff;
  width: 960px;
  margin: 0 auto;
}
.r-success .r_t{
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.r-success .r_t .t_txt {
  float: left;
  font-weight: 700;
  color: #383838;
  font-size: 14px;
  text-indent: 15px;
}
.r-success .r_c{
  padding: 40px 0;
}
.r-success .r_c .email_checkpart{
  text-align: center;
  padding-bottom: 35px;
}
.r-success .r_c .email_checkpart li {
  color: #4e4e4e;
  font-size: 14px;
  padding: 0 0 10px;
}
.r-success .r_c .red, .r-success .r_c .red:hover, .r-success .r_c .red:visited {
 color: #ed1c24;
}
.r-success .r_c .email_checkpart .check_info {
  font-size: 16px;
  padding: 30px 0;
}
.r-success .r_c .email_checkpart .email_change_part {
  padding: 0 0 10px;
}
.email_checkpart .check_btn {
  display: block;
  width: 172px;
  height: 22px;
  background: #ED1C24;
  text-align: center;
  color: #fff;
  font-weight: 700;
  padding-top: 5px;
  margin-top: 25px;
  margin-bottom: 5px;
}
.email_checkpart .email_change_btn {
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
}
.email_checkpart a.blue:hover,.email_checkpart  a.blue:visited {
  color: #319ae1;
  text-decoration: none
}
.email_checkpart .count_url  a{
  display: block;
  color: #4e4e4e;
  font-size: 14px;
  padding: 0 0 10px;
  text-decoration: none;
}
.emailfail_tip {
  margin: 0 58px;
  padding: 30px 0 0;
  background: url(img/dotted_line.jpg) no-repeat;
}

.emailfail_tip .why_fail {
  float: left;
  width: 140px;
  height: 25px;
  padding: 13px 0 0 134px;
  color: #797979;
  font-weight: 700;
  font-size: 14px;
/*  background: url(img/sprite.png) no-repeat -100px -336px;*/
}
.emailfail_tip .tips {
  float: left;
}
.emailfail_tip .tips li {
  padding: 0 0 10px;
  color: #4e4e4e;
  text-align: left;
}
.tips .underline_red {
font-weight: 700;
color: #ed1c24;
text-decoration: underline;
}



/* 服务已开通样式 */

.open_success{
  background: url(./img/b03.jpg) center no-repeat;
}
.banner-wrap .rb3 {
    font-size: 24px;
    color: #fff;
    line-height: 45px;
    text-align: center;
    width: 425px;
    margin: 0 auto;
    padding-top: 70px;
}
.banner-wrap .rb3 em {
  width: 46px;
  height: 46px;
  display: block;
  float: left;
  background: url("./img/portal-icon-2.png") 0 -40px no-repeat;
}
#y-place{
  width: 298px
}
#btn-open{
  width: 160px;
 height: 42px;
 line-height: 42px;
 margin-top: 20px;
 background-color: #4bafbe;
 transition: .7s;
}
#btn-open:hover {
color: #fff;
text-decoration: none;
background-color: #49B0BF;
transition: .7s;
}
#btn-open:focus{
  color: #fff;
 background-color: #49B0BF;
 transition: .7s;
}