
.view-wrap{
    padding: 70px 0;
   text-align: center;
}
.view-wrap.pb0 {
  padding-bottom: 0;
}

/*头部*/
.top {
    height: 320px;
    background: url(./img/join_banner_1.jpg) center center no-repeat;
}
.bg-gray {
  background-color: #f7f7f7;
}
.join .view-wrap {
  padding-top: 0;
}
.letter {
    background-color: #FFF;
    font-size: 14px;
    line-height: 32px;
    color: #555;
    padding: 40px 50px;
    text-align: left;
}
.letter a {
  color: #03b8cc;
}
.letter .sign {
  text-align: right;
}
.view-wrap img {
  margin-top: 50px;
}
/*加入我们样式*/
#zy-content {
  width: 100%;
  color: #555555;
  background: url(./img/content_bgs.png) repeat-y center top;
}
#zy-content .article_panel {
padding: 10px;
}
#zy-content .content_title {
  width: 100%;
  height: 70px;
  background: url(./img/content_items.png) repeat-x 0px -930px;
}
#zy-content .content_title span {
  display: block;
  width: 990px;
  margin: 0 auto;
  height: 70px;
  background: url(./img/content_items.png) no-repeat 0px 0px;
  font-size: 22px;
  color: #ffffff;
  line-height: 60px;
  text-align: center;
  text-shadow: #003366 1px 1px 2px;
  FILTER: Shadow(Color=#003366, Direction=90, Strength=1);
}
#zy-content .content_detail {
  width: 890px;
  margin: 0 auto;
  padding: 10px 50px 50px;
  background: url(./img/content_detail_bgs.png) no-repeat 0px bottom;
  min-height: 250px;
}
#zy-content .article_panel {
 padding: 10px;
}
#zy-content .article_panel .article {
  font-size: 14px;
  line-height: 22px;
  color: #666;
}
#zy-content p {
  line-height: 25px;
}
#zy-content .article_panel .article p {
  margin: 0 0 18px;
}
#zy-content .article_panel .article p {
 margin: 0 0 18px;
}